@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn btn-primary" asp-area="User" asp-controller="Email" asp-action="Index">Add Email</a>
<a class="btn btn-primary" asp-area="User" asp-controller="PhoneCall" asp-action="Index">Add Phone Call</a>
<br />
<br />
<a class="btn btn-primary" asp-area="User" asp-controller="CompleteUser" asp-action="Index">Complete Calls</a>
<a class="btn btn-primary">Complete Emails</a>
<br />
<br />
<a class="btn btn-primary">Email Register</a>
<a class="btn btn-primary" asp-area="Admin" asp-controller="PhoneLog" asp-action="Index">Phonecall Register</a>
<br />
<br />
<a class="btn btn-primary">Overdue Emails</a>
<a class="btn btn-primary" asp-area="Admin" asp-controller="Overdue" asp-action="OverDuePhone">Overdue Phonecalls</a>




