@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center py">
    <h1 class="display-4 text-body-secondary text-body-emphasis font-weight-bold">PhoneCall/Email Register</h1>

    <img src="~/images/clipart611325.png" class="img-fluid" width="120" />

</div>
<br />
<div class="container py-2">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3 m-1" >
            <a class="btn btn-primary p-3 h-100 w-100 text-center btn-lg" asp-area="User" asp-controller="Email" asp-action="AddEmail">Add Email</a>
        </div>
        <div class="col-sm-4 col-lg-3 m-1">
            <a class="btn btn-primary p-3 h-100 w-100 text-lg-center btn-lg " asp-area="User" asp-controller="PhoneCall" asp-action="Index">Add Phone Call</a>
        </div>
        
    </div>
</div>

<div class="container py-2">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3 m-1">
            <a class="btn btn-primary p-3 h-100 w-100 text-center btn-lg" asp-area="User" asp-controller="CompleteEmail" asp-action="Index">Complete Email</a>
        </div>
        <div class="col-sm-4 col-lg-3 m-1">
            <a class="btn btn-primary p-3 h-100 w-100 text-center btn-lg" asp-area="User" asp-controller="CompleteUser" asp-action="Index">Complete Call</a>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3 m-1">
            <a class="btn btn-primary p-3 h-100 w-100 text-center btn-lg" asp-area="User" asp-controller="EmailLog" asp-action="EmailLog">Email Register</a>
        </div>
        <div class="col-sm-4 col-lg-3 m-1">
            <a class="btn btn-primary p-3 h-100 w-100 text-center btn-lg" asp-area="User" asp-controller="PhoneLogUser" asp-action="PhoneLogUserIndex">Phonecall Register</a>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-lg-3 m-1">
            <a class="btn btn-primary p-3 h-100 w-100 text-center btn-lg" asp-area="Admin" asp-controller="Overdue" asp-action="OverDueEmail">Overdue Emails</a>
        </div>
        <div class="col-sm-4 col-lg-3 m-1">
            <a class="btn btn-primary p-3 h-100 w-100 text-center btn-lg" asp-area="Admin" asp-controller="Overdue" asp-action="OverDuePhone">Overdue Phonecalls</a>
        </div>
    </div>
</div>


