
@model PhoneCallVM


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 mb-2">
        <div class="row">
            <div class="col-12 text-center">               
                    <h2 class="text-white py-2">Phone Call Register</h2>                
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">Add Phone Call</h2>
                    <hr />
                </div>
                <div class="mb-2">
                    <label asp-for="PhoneCall.Agent"></label>
                    <input asp-for="PhoneCall.Agent" class="form-control" />
                    <span asp-validation-for="PhoneCall.Agent" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Internal Call</label>
                    <br>
                    <input asp-for="PhoneCall.Internal" type="checkbox" />
                </div>
                <div class="mb-2">
                    <label>Mark As Complete</label>
                    <br />
                    <input asp-for="PhoneCall.Complete" type="checkbox" />
                </div>
                <div class=" mb-3">
                <label asp-for="PhoneCall.ProductsId"></label>
                <select asp-for="PhoneCall.ProductsId" asp-items="@Model.ProductList" class="form-control">
                    <option disabled selected>--Select Product Type--</option>
                </select>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
